
body {
  font-family: 'Inter', sans-serif;
  background: #fb8703;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: floralwhite;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.app-container h1 {
  margin: 0 0 20px;
  font-size: 1.8rem;
  text-align: center;
  color: #3aebb6;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #a5d4d7;
  border-radius: 8px;
  font-size: 1rem;
}

.input-section button {
  background: #007bff;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.input-section button:hover {
  background: #7109e0;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
}

.task-list li:hover {
   background: #7109e0;

}

.task-list span {
  font-size: 1rem;
  color: #000000;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #040404;
}

.delete-btn {
  background:none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s;
}

.delete-btn:hover {
  color: aqua;
  
}
