body {
  font-family: Arial, sans-serif;
  background: #fae5df;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding-top: 50px;
}

.container {
  background: #f5cac2;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ed7966;
}

h1 {
  text-align: center;
  font-size: 28px;
  color: #141850;
  margin-bottom: 30px;
}

.add {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ed7966;
}

.add input {
  width: 62%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ed7966;
  border-radius: 5px;
  background: #f8d7da;
  color: #141850;
}

.add button {
  padding: 10px 20px;
  border: 1px solid #ed7966;
  background: #f5cac2;
  color: #141850;
  border-radius: 5px;
  cursor: pointer;
}

.add button:hover {
  background: #ffbfb3;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  color: #303179;
  background: #f8d7da;
  border: 1px solid #ed7966;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
  accent-color: #ed7966;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #db9d8c;
}
